*{
  margin: 0;
  padding: 0;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header,
main
{
  max-width: 1220px;
  margin: 30px auto;
  
}
main{
  padding: 0 16px;
}

/*Common style*/
.flex{
  display: flex;
}
.color-2{
  color: #E95A08;
}
.title{
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
}
h3{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}



/*nav-bar style*/
.nav-bar{
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}
.nav-element{
  gap: 3rem;
  align-items: center;
}
.nav-list{
  list-style: none;
  gap: 3rem;
}
.nav-list a{
  text-decoration: none;
  color: #8987A1;
}
#home{
  color: #252432;
  font-weight: 600;
}

/*Banner style*/
.banner{
  justify-content: space-between;
  align-items: flex-end;
  margin: 120px 0;
}
.banner-collum{
  width: 50%;
  margin: 16px;
  
}
.banner-heading{
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* Planet section */
.plant-details{
  text-align: center;
  max-width: 860px;
  margin: auto;
}
.planet-title{
  margin-bottom: 50px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  
}
.card img{
  width: 100%;
}
h4{
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0 30px 0;
  text-align: center;
}
h5{
  font-size: 22px;
  font-weight: 500;
  margin: 30px 0 0 0;
  text-align: center;

}
.btn{
  background-color: #E95A08;
  color: #fff;
  font-weight: 600;
  padding: 19px 0;
  width: 100%;
  border: none;
  cursor: pointer;
}

/* planet-lover section style */
.planet-lover{
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 210px;
  width: 100%;
}
.lover-collum{
  width: 50%;
}
.lover-details li{
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  font-size: 24px;

}
.badge-container{
  position: relative;
}
.badge{
  position: absolute;
  top: -35%;
  left: 50%;
  width: 70%;
}

/* Lets deal section*/
.deal-description{
  text-align: center;
  max-width: 880px;
  margin: 120px auto;
}
.deal-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 28px;
  
}
.left{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.deal-card{
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}
.deal-card img{
  width: 100%;
  height: 100%;
  display: block;
}
.overly {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.deal-offer{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.deal-anchor{
  font-size: 16px;
  font-weight: 550;
  color: #fff;
}
.big{
  font-size: 40px;

}
.big2{
  font-size: 28px;
}
/* Footer style */

.footer-bg{
  background-image: url("../images/news-letter-bg.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.footer-overlay{
  
  padding: 0 6px;
  text-align: center;
}
form{
  max-width: 950px;
  margin: auto;
  display: flex;
  
}
.footer-input{
  
}
form input{
  border: none;
  width: 100%;
  padding-left: 20px;
}
.btn2{
  width: 40%;
}

/* footer list */
.footer-container{
  max-width: 1220px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  margin: 50px 16px;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 48px;
}

.logo-container{
  display: flex;
  gap: 30px;
}


@media screen and (max-width: 576px) {
  .nav-list{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    margin: 28px 0;
  }
  .banner-collum
  {
    width: calc(100% - 32px);
  }
  .banner-heading{
    font-size: 1.5rem;
  }
  h3{
    font-size: 28px;
    margin-bottom: 16px;
  }
  .title,
  .lover-details li,
  ul li a
  {
    font-size: 16px;
  }
  .planet-title{
    margin: 0 20px 32px;
  }
  .card-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .planet-lover{
    margin-top: 40px;
    flex-direction: column;
    gap: 10px;
  }
  .lover-collum{
    width: 100%;
  }
  .badge{
    display: none;
  }
  .deal-container,
  .footer-container
  {
    grid-template-columns: 1fr;
  }
  .big{
    font-size: 20px;
  }
  .big2{
    font-size: 16px;
  }
  .footer-bg{
    height: 40vh;
  }
}
